.languageSelector {
  min-width: 80px;
}

.select {
  font-family: var(--font-montserrat), Arial, sans-serif !important;
  font-weight: 500 !important;
  font-size: 0.9rem !important;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.icon {
  font-size: 1.2rem !important;
  margin-right: 0.3rem;
  color: #ffffff;
}
